subscription_id     = "0000-0000-0000-0000"
project_name        = "<project_name>"
location            = "<location>"
resource_group_name = "rg"

# Choose a globally unique ACR name (lowercase letters/numbers only)
acr_name = "<registry name>"

aks_name   = "<cluster name>"
dns_prefix = "<dns dns_prefix>"
node_count = 2
node_size  = "Standard_B2s_v2"
node_pool  = "<node pool name>"
environment_name = "environment name"

# Key Vault
keyvault_name = "<keyvault name>"